* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    font-style: product-sans, sans-serif;
    height: 100vh;


}

.button-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    margin: 250px auto;
    background-color: blue;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0px 0px 20px white;
    
}

.btn {
    font-size: 100px;
    background: none;
     border: none;
     font-weight: bold;
}

.button-data {
    font-size: 100px;
    color: white;
    font-weight: bold;
}