/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  background-color: #fc8019;
  color: rgb(0, 0, 0);
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem; 
  display: flex; 
  font-size: 1rem;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: none;
  transition: transform;
  background-color: rgb(0, 0, 0);
  color: #fefefe;
  border-radius: 4rem;
  font-family: fantasy;
  transform: scale(1.4) ;
  
}

/* Restaurant Container */
.restaurant-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Restaurant Card */
.restaurant-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  position: relative;
}

.restaurant-card:hover {
  transform: translateY(-5px);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.restaurant-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.restaurant-card p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.4rem;
}

.hover-tag {
  background-color: #fc8019;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.restaurant-card:hover .hover-tag {
  opacity: 1;
}

#head {
  font-size: 80 ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #eb1349;
  background: radial-gradient(circle, rgba(235, 19, 73, 1) 0%, rgba(204, 57, 194, 1) 25%, rgba(80, 173, 140, 1) 49%, rgba(99, 154, 119, 1) 61%, rgba(165, 88, 46, 1) 70%, rgba(252, 70, 107, 1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-align: center;
}
.imagelogo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}